<div>
    <div class="uk-padding-small">
        <div>
            画像ファイルを選んでください。<input type="file" id="fileInput" name="file" (change)="onChange($event)" />
        </div>
        <img id="imageSrc" alt="No Image" #imageSrc0 />
    </div>
    <!--
    <div class="uk-padding-small">
        <div>
            <button class="uk-button uk-button-default" (click)="onClick1()">複写</button>
        </div>
        <canvas id="outputCanvas"></canvas>
    </div>
    -->
    <div class="uk-padding-small">
        <div>
            <button class="uk-button uk-button-default uk-button-small" (click)="onClick2()">モノクロ化</button>
        </div>
        <canvas id="monoCanvas"></canvas>
    </div>
</div>