<!--
<button (click)="onClick()">test</button>
-->

<!--
<div>
    {{errLog}}
</div>
-->

<div>
    <!--
    <select class="uk-select" (change)="onDevChange(devList.value)" #devList>
        <option *ngFor="let dev of this.videoInputs" value="{{dev.id}}">{{dev.label}}</option>
    </select>
-->
    <button class="uk-button uk-button-default uk-button-small" (click)="onClick3()">カメラ起動</button>
</div>

<video id="videoInput" #videoInput0 autoplay playsinline>

    <!--
<video id="videoInput" width="320" height="240" #videoInput0>
-->

</video>

<canvas id="videoOutput" width="320" height="240"></canvas>
<!--
<canvas id="videoOutput" width="320" height="240"></canvas>
-->
<div>
    <button class="uk-button uk-button-default uk-button-small" (click)="onClick4()">デバイス一覧</button>
</div>
<ul class="uk-list uk-list-striped">
    <li *ngFor="let info of devInfos">{{info}}</li>
</ul>