<!--
<button (click)="onClick()">test</button>
-->

<!--
<div>
    {{errLog}}
</div>
-->

<div>
    <!--
    <select class="uk-select" (change)="onDevChange(devList.value)" #devList>
        <option *ngFor="let dev of this.videoInputs" value="{{dev.id}}">{{dev.label}}</option>
    </select>
-->
    <button [disabled]="streaming" class="uk-button uk-button-default uk-button-small" (click)="startCapture()">カメラ起動</button>
    <button [disabled]="!streaming" class="uk-button uk-button-default uk-button-small" (click)="stopCapture()">カメラ停止</button>
</div>

<div [hidden]="!streaming" class="wrapper uk-margin-small-top">
    <video id="videoInput" #videoInput0 autoplay playsinline>

        <!--
    <video id="videoInput" width="320" height="240" #videoInput0>
    -->
    
    </video>
    
    <canvas id="videoOutput" width="320" height="240" class="topLeftZero" [style.opacity]="getOpacity()"></canvas>
    <!--
    <canvas id="videoOutput" width="320" height="240"></canvas>
    -->
</div>

<!--
<div>
    <button class="uk-button uk-button-default uk-button-small" (click)="onClick4()">デバイス一覧</button>
</div>
<ul class="uk-list uk-list-striped">
    <li *ngFor="let info of devInfos">{{info}}</li>
</ul>
-->

<!--
<div class="wrapper">
    <div class="div-a" (click)="onDivClick($event)">div-a</div>
    <div class="div-b" (click)="onDivClick($event)">div-b</div>
    <div class="div-a2" (click)="onDivClick($event)">div-a2</div>
    <div class="div-b2"(click)="onDivClick($event)">div-b2</div>
    <div class="div-a"(click)="onDivClick($event)" [style.opacity]="getOpacity()">div-a xxx</div>
</div>
-->

<div [hidden]="!streaming" class="uk-flex uk-margin-left uk-margin-right">
    <input class="uk-range" type="range" value="100" min="0" max="100" step="1" (change)="onChange(range.value)" #range>
    <span class="uk-margin-small-left">{{range.value}}</span>
</div>
